.recipe-widget
  margin-left 10px

.recipe-widget md-radio-button
  outline 0

.recipe-widget .che-input,
.recipe-widget .che-input + span,
.recipe-widget .che-label-container
  margin-left 30px

.recipe-editor
  width 100%
  margin-top 20px

.recipe-editor .CodeMirror
  border 1px solid $list-separator-color
  min-height 500px

.recipe-docs-link
  margin-top -15px
  margin-left 30px
  margin-bottom 25px

.recipe-widget .recipe-url
  width calc(100% - 10px)
  margin-bottom 20px
